# This file includes global variables that will be available inside your project
# In the app.py file, you can access the variable by importing os and then using print(os.getenv('VARIABLE_NAME'))

CLIENT_ID=4abf2c6cb4df41aeaa9759d4e8c3ec8b
CLIENT_SECRET=e49aae2cc18a4e949b75745388d5de2f
